* {
  margin: 0;
  font-family: sans-serif;
}

html {
  font-size: 100%;
}

input {
  /* appearance: none; */
}

.elem-img img {
  /* width: 50%; */
  height: 25vh;
}

.elem-title,
.elem-cross {
  display: inline-block;
}
