* {
  margin: 0;
  font-family: sans-serif;
  color: black;
}

html {
  /* font-size: 100%; */
  scroll-behavior: smooth;
}

.wrapper {
  width: 80vw;
  margin: auto;
}

h1 {
  font-size: 2rem;
  padding: 0.5rem 0 0.5rem 0;
}

label {
  display: block;
  border-top: 1px solid grey;
  padding: 0.5rem 0 0.5rem 0;
}

input {
  appearance: none;
  display: none;
}

.elem-inner {
  display: flex;
  justify-content: space-between;
}

.elem-img {
  text-align: center;
  /* margin-top: 0.5rem; */
}

.elem-img img {
  /* width: 50%; */
  max-width: 100%;
  height: auto;
  display: block;
  margin: auto;
}

.elem-cross img {
  height: 1rem;
  /* transform: rotate(0deg);
  transition: 0.3s; */
}

.elem-title {
  font-weight: bold;
  color: blue;
}

input:checked ~ .elem-inner .elem-title {
  color: black;
}

input:checked ~ .elem-inner .elem-cross {
  transform: rotate(45deg);
  transition: 0.3s;
}

.elem-title,
.elem-cross {
  display: inline-block;
}

input:not(input:checked) ~ .elem-img img {
  /* display: none; */
  height: 0;
  /* height: 0; */
}
@media (hover: hover) {
  input ~ .elem-inner .elem-cross {
    display: none;
  }

  form:hover .elem-title {
    color: black;
  }

  label:hover {
    cursor: pointer;
  }
  /* label:hover img {
    height: 50vh;
    transition: 0.5s;
  } */
}
